<!-- Main Navigation Partial Page -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="Assets/images/Logo-01.png" alt="Logo" width="50" height="42">
        </a>
        <a class="navbar-brand" href="/">Olusegun Sofola</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <% if(title == "Home"){%>
                        <a class="nav-link active" href="/home"><i class="fa-solid fa-house-chimney"></i> Home</a>
                    <%} else {%>
                        <a class="nav-link" href="/home"><i class="fa-solid fa-house-chimney"></i> Home</a>
                    <%}%>
                </li>
                <li class="nav-item">
                    <% if(title == "About Me"){%>
                        <a class="nav-link active" href="/about"><i class="fa-sharp fa-solid fa-person"></i> About Me</a>
                    <%} else {%>
                        <a class="nav-link" href="/about"><i class="fa-sharp fa-solid fa-person"></i> About Me</a>
                    <%}%>
                </li>
                <li class="nav-item">
                    <% if(title == "Projects"){%>
                        <a class="nav-link active" href="/projects"><i class="fa-brands fa-r-project"></i> Projects</a>
                    <%} else {%>
                        <a class="nav-link" href="/projects"><i class="fa-brands fa-r-project"></i> Projects</a>
                    <%}%>
                </li>
                <li class="nav-item">
                    <% if(title == "Services"){%>
                        <a class="nav-link active" href="/services"><i class="fa-solid fa-gears"></i> Services</a>
                    <%} else {%>
                        <a class="nav-link" href="/services"><i class="fa-solid fa-gears"></i> Services</a>
                    <%}%>
                </li>
                <li class="nav-item">
                    <% if(title == "Contact Me"){%>
                        <a class="nav-link active" href="/contact"><i class="fa-solid fa-address-book"></i> Contact Me</a>
                    <%} else {%>
                        <a class="nav-link" href="/contact"><i class="fa-solid fa-address-book"></i> Contact Me</a>
                    <%}%>
                </li>
                <li class="nav-item">
                    <% if(title == "Book List"){%>
                        <a class="nav-link active" href="/book-list"><i class="fa-solid fa-book"></i> Books</a>
                    <%} else {%>
                        <a class="nav-link" href="/book-list"><i class="fa-solid fa-book"></i> Books</a>
                    <%}%>
                </li>
                <li class="nav-item">
                    <% if(title == "Business Contact List"){%>
                        <a class="nav-link active" href="/biz-contact-list"><i class="fa-solid fa-address-card"></i> Business Contacts</a>
                    <%} else {%>
                        <a class="nav-link" href="/biz-contact-list"><i class="fa-solid fa-address-card"></i> Business Contacts</a>
                    <%}%>
                </li>
                <% if(typeof displayName == 'string' && displayName) { %>
                    <li class="navbar-text">
                        <i class="fa-solid fa-user"></i> <span style="color: green">Welcome, <%= displayName %></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><i class="fa-sharp fa-solid fa-right-from-bracket"></i> Logout</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a href="/login" class="nav-link"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                    </li>
                <%}%>
            </ul>
        </div>
    </div>
</nav>