<!doctype html>
<html lang="en">
<!-- Page Header -->
<%- include partials/header.ejs %>
<body>
<!-- Main Navigation -->
<%- include partials/main_nav.ejs %>
<!-- Main Section -->
<div class="container pb-4 pt-4" data-pg-collapsed>
    <div class="align-items-center row" data-pg-collapsed>
        <div class="col">
            <hr class="border-secondary mb-0 mt-0"/>
        </div>
        <div class="col-auto">
            <h2 class="fw-bold h4 mb-0 text-uppercase">My Projects</h2>
        </div>
        <div class="col">
            <hr class="border-secondary mb-0 mt-0"/>
        </div>
    </div>
</div>
<section class="bg-light pb-5 pt-5 text-secondary" data-pg-collapsed>
    <div class="container">
        <div class="justify-content-center row">
            <div class="col-lg-4 col-md-6 pb-3 pt-3">
                <div class="bg-white shadow">
                    <a href="#" class="d-block">
                        <img src="Assets/images/project-microsoft-365.png"
                             class="img-fluid w-100" alt="microsoft-project" width="700" height="480"/>
                    </a>
                    <div class="p-3">
                        <a href="#" class="text-dark text-decoration-none">
                            <h3 class="fw-bold h5">Microsoft Office 365 Migration Project</h3></a>
                        <h4 class="fw-bold h6 small text-secondary">October 2018</h4>
                        <p class="mb-0">
                            Migration of over 25,000 Provincial Government Employees to Microsoft Office
                            365 in the Microsoft Azure Cloud.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-3 pt-3">
                <div class="bg-white shadow">
                    <a href="#" class="d-block">
                        <img src="Assets/images/project-mobile-banking.png" class="img-fluid w-100"
                             alt="project-mobile-banking" width="700" height="480"/>
                    </a>
                    <div class="p-3">
                        <a href="#" class="text-dark text-decoration-none">
                            <h3 class="fw-bold h5">Retail Mobile Banking App</h3>
                        </a>
                        <h4 class="fw-bold h6 small text-secondary">August 2022</h4>
                        <p class="mb-0">
                            Designed and led the development of a retail banking mobile app for a new bank in the
                            Middle East. Designed the app from scratch and led its implementation for the first MVP
                            release.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-3 pt-3">
                <div class="bg-white shadow">
                    <a href="#" class="d-block">
                        <img src="Assets/images/project-oracle-fusion.png" class="img-fluid w-100"
                             alt="project oracle fusion" width="700" height="480"/>
                    </a>
                    <div class="p-3">
                        <a href="#" class="text-dark text-decoration-none">
                            <h3 class="fw-bold h5">Enterprise Pension Solution Modernization Project</h3>
                        </a>
                        <h4 class="fw-bold h6 small text-secondary">January 2022</h4>
                        <p class="mb-0">
                            Designed and led the re-development of 4 Pension Management Application Modules for a
                            National Pension Administration Agency in Africa.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer Section -->
<%- include partials/footer.ejs %>
<!-- Scripts Section -->
<%- include partials/scripts.ejs %>
</body>
</html>