<!doctype html>
<html lang="en">
<!-- Page Header -->
<%- include partials/header.ejs %>
<body>
<!-- Main Navigation -->
<%- include partials/main_nav.ejs %>
<!-- Main Section -->
<section class="bg-light pb-5 pt-5" data-pg-collapsed>
    <div class="container pb-5 pt-5">
        <div class="align-items-center mb-3 row">
            <div class="col-lg-7">
                <h2 class="h2 mb-1">Services</h2>
                <h3 class="fw-bold h2 mb-1">I can do many useful things for my clients</h3>
                <p class="fw-light">
                    While I often do so many things for my clients to succeed. Hidden activities like extra research,
                    fixing wrong software designs and assumptions and sometimes broken technology. Below are my main
                    services:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xl-3 pb-3 pt-3">
                <div class="bg-white d-block pb-5 ps-4 pe-4 pt-5 shadow">
                    <img src="Assets/images/svc-software-development.png" alt="services-sw dev" class="img-fluid w-50"
                         width="100" height="98">
                    <h4 class="fw-bold h5">Software Development</h4>
                    <p>Quality software development in all the major commercial programming languages like Java, C#
                        and Python.</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 pb-3 pt-3">
                <div class="bg-white d-block mb-sm-n5 mt-sm-5 pb-5 ps-4 pe-4 pt-5 shadow">
                    <img src="Assets/images/svc-software-design.png" alt="services-sw dev" class="img-fluid w-50"
                         width="100" height="98">
                    <h4 class="fw-bold h5">Software Design and Architecture</h4>
                    <p>Quality software design based on sound software architectural principles that meet both
                        functional and non-functional requirements.
                    </p>
                    <a href="#">Learn More</a>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 pb-3 pt-3">
                <div class="bg-white d-block pb-5 ps-4 pe-4 pt-5 shadow">
                    <img src="Assets/images/svc-enterprise-solution-architecture.png" alt="services-sw dev" class="img-fluid w-50"
                         width="100" height="98">
                    <h4 class="fw-bold h5">Enterprise and Solutions Architecture</h4>
                    <p>Business and ICT Transformation to align people, business pocesses, data, information systems
                        and technology in order to deliver maximum business value to clients and stakeholders.
                    </p>
                    <a href="#">Learn More</a>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 pb-3 pt-3">
                <div class="bg-white d-block mb-sm-n5 mt-sm-5 pb-5 ps-4 pe-4 pt-5 shadow">
                    <img src="Assets/images/svc-data-analytics.png" alt="services-sw dev" class="img-fluid w-50"
                         width="100" height="98">
                    <h4 class="fw-bold h5">Data Analytics and Enterprise Reporting</h4>
                    <p>Leverage the power of your business data with to quickly analyse business trends for effective
                        and efficient evidence based decision-making.
                    </p>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer Section -->
<%- include partials/footer.ejs %>
<!-- Scripts Section -->
<%- include partials/scripts.ejs %>
</body>
</html>